<%= form_for(@backfire_control) do |f| %>
  <% if @backfire_control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@backfire_control.errors.count, "error") %> prohibited this backfire_control from being saved:</h2>

      <ul>
      <% @backfire_control.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :rulechain_option %><br />
    <%= f.text_field :rulechain_option %>
  </div>
  <div class="field">
    <%= f.label :runaway_limit %><br />
    <%= f.number_field :runaway_limit, in: 1..999 %>
  </div>
  <div class="field">
    <%= f.label :log_output %><br />
    <%= f.check_box :log_output, {} , "Y", "N"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
