<%= form_for([@backfire_control, @backfire_query]) do |f| %>
    <% if @backfire_query.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@backfire_query.errors.count, "error") %> prevented this backfire_query from being
            saved:</h2>

          <ul>
            <% @backfire_query.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row ">
      <div class="field span6">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field span6">
        <%= f.label 'Receiving Fact' %>
        <%= f.text_field :fact %>
      </div>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :expression %>
      <%= f.text_area :expression %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
